<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link  rel="stylesheet" href="{{ url_for('static', filename='css/iotStyle.css') }}">
	<link  rel="stylesheet" href="../static/css/iotStyle.css">

	<title>iot</title>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		  <div class="navbar-header">
			<a class="navbar-brand" href="#">IoT Dashboard</a>
		  </div>
		  <ul class="nav navbar-nav">
			<li class="active"><a href="#">Home</a></li>
			<li><a href="settings.html">Account</a></li>
			<li><a id="dark" onclick="themechange();">dark</a></li>
			<script>
				var count = 1;
				
				function themechange(){
					
					
					if (count % 2){
						document.getElementsByTagName("HTML")[0].style.filter = "invert(1)"				
					}else{
						document.getElementsByTagName("HTML")[0].style.filter = "invert(0)"
					}				
					
					count++;
				
				}
				
			</script>
		  </ul>
		</div>
	  </nav>

	<div id="user">
		<img id="userpfp" src="https://th.bing.com/th/id/R.bae2d37c4317140a408aef6671346186?rik=X1vYbxH6nQxCcA&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_218090.png&ehk=poXsiWmpbb3%2b%2bK%2blj8H9AQprCYsoz4kt%2bU4rFFKbOCo%3d&risl=&pid=ImgRaw&r=0">

		<p id="username">Username</p>
		<p class="favs">Favorites</p>
		<ul id="userfavs">
			<li>Temperature: </li>
			<li>Humidity:</li>
			<li>Light Intensity:</li>
		</ul>

	</div>

	<div id="temp">
		<h2>Temp</h2>
		<div id="gauges">
			<span>Temperature &emsp;| &emsp;Moisture</span>
			<br><br><br>
			<meter id="tempg" value="{{tempval / 100}}"></meter>
			<meter id="moistg" value="{{humidval / 100}}"></meter>
			<br><br><br>
			<p>&emsp;&emsp;{{tempval}} &emsp;&emsp;&emsp;| &emsp;&emsp;{{humidval}}</p>
			<div id="fans">
				<div class="pic" id="fanpic">
					<img src="https://static.thenounproject.com/png/1703696-200.png">
				</div>
			</div>
		</div>
	</div>
	<div id="light">
		<h2>LED</h2>
		<div class="pic" id="LED">
			<form id="form1" method="POST">
				<button type="submit" form="form1" value={{value}} name="status" id="toggleLED">
					<img id="ledtoggle" src="{{imgval}}" alt="bulb">
				</button>
			</form>				
		</div>
	</div>

	<div>
		<h1>number of devices: {{numdev}}</h1>

	</div>

	<div id="text">Email sent</div>
</body>
</html>
