<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link  rel="stylesheet" href="{{ url_for('static', filename='css/iotStyle.css') }}">
	<link  rel="stylesheet" href="../static/css/iotStyle.css">
	<title>iot settings</title>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		  <div class="navbar-header">
			<a class="navbar-brand" href="index.html">IoT Dashboard</a>
		  </div>
		  <ul class="nav navbar-nav">
			<li class="active"><a href="index.html">Home</a></li>
			<li><a>Account</a></li>
			<li><a href="#">dark</a></li>
		  </ul>
		</div>
	  </nav>


	  	<div class="params">
	  		
	  		<form method="POST" id="settingsForm">
	  	<p class="settingsTxt">choose a profile picture</p>
	  	<input type="file" accept="image/*" name="pfpImg">

	  	<hr>
	  	<br>
	  	<p class="settingsTxt">Choose a temperature unit</p>
	  	<label>°C</label>
	  	<input type="radio" name="tempStatus"  value="C" checked>
	  	<label>°F</label>
	  	<input type="radio" name="tempStatus"  value="F">
	  	<br>

	  	<hr>
	  	<br>
	  	<p class="settingsTxt">Choose tresholds</p>
	  	<label>Temperature</label>
	  	<input type="number" name="tempNum" required>
	  	<br>
	  	<label>Humidity</label>
	  	<input type="number" name="humNum" required>
	  	<br>
	  	<label>Light</label>
	  	<input type="number" name="LightNum" required>

	  	<br>
	  	<br>
	  	<input type="submit" name="profsubmit">

	  </form>
	  	</div>
	  

</body>
</html>